.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: var(--purple-light);
  color: var(--offwhite);
  cursor: pointer;
  padding-left: 20px;
  border: none;
}

.container:hover,
.container:active {
  background: var(--purple-dark);
  color: var(--offwhite);
  border-left: 10px solid rgb(214, 158, 158);
}

/* Border on Click */
.container:hover:active {
  border-left: 10px solid rgb(40, 179, 179);
}

.itemTitle {
  font-size: var(--font-sz-sm);
  padding-left: 30px;
  transition: all 0.2s ease-in-out;
}

.itemIcon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.longName {
  font-size: var(--font-sz-sm);
  width: 100%;
}

.shortName {
  font-size: var(--font-sz-sm);
  width: 100%;
  display: none;
}

.bin2dec,
.bin2hex {
  background-image: url("../../assets/binary.png");
}
.dec2bin,
.dec2hex {
  background-image: url("../../assets/decimal.png");
}
.hex2dec,
.hex2bin {
  background-image: url("../../assets/hex.png");
}

@media screen and (max-width: 1500px) {
  .longName {
    display: none;
  }

  .shortName {
    display: flex;
  }
}

@media screen and (max-height: 765px) {
  .container {
    width: 50%;
  }
}
