@import "../../breakpoint.scss";
@import "../../global.scss";

.container,
.active {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  background: $color-secondary-800;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  gap: 30px;
  width: $bp-nav-wd-md;
  transition: width 0.2s ease-in-out;
}

.container {
  // 900px
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    gap: 0px;
    padding: 180px 0px 180px 0px;
    width: $bp-nav-wd-sm;
  }

  // 1200px
  @media screen and (min-width: $breakpoint-xl) {
    width: $bp-nav-wd-xl;
  }

  // 1875px
  @media screen and (min-width: $breakpoint-xxl) {
    width: $bp-nav-wd-xxl;
  }

  // 2000px
  @media screen and (min-width: $breakpoint-xxxl) {
    width: $bp-nav-wd-xxl;
  }

  @media screen and (min-width: $breakpoint-xxxl) {
    width: $bp-nav-wd-xxl;
  }
}

.active {
  display: flex;
  width: 100%;
}
