@import "../../global.scss";

.alertContainer {
  position: absolute;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000000;
  background-color: #388080;
  border-color: #0f3c42;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.alertMessage {
  display: inherit;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.closeAlert {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closeAlert:hover {
  color: rgb(194, 194, 194);
}
