@import "../../breakpoint.scss";
@import "../../global.scss";

$card-wd-sm: 100%;
$card-wd-md: 500px;
$card-wd-lg: 550px;
$card-wd-xl: 650px;

$card-hg-sm: 100%;
$card-hg-md: 600px;
$card-hg-lg: 700px;
$card-hg-xl: 1000px;

$card-pd-xs: 3.125em 1.875em 1.25em 1.875em;
$card-pd-lg: 48px 40px 30px 40px;
$card-pd-xl: 50px 55px 36px 55px;

.container {
  display: grid;
  align-items: top;
  background: $color-secondary-800;
  padding: 50px 30px 20px 30px;
  row-gap: 15px;
  grid-template-areas:
    "menuIcon"
    "input"
    "output"
    "button";

  width: $card-wd-sm;
  height: $card-hg-sm;
  grid-template-rows: 50px 150px auto 150px;
  padding: $card-pd-xs;

  @media screen and (min-width: $breakpoint-sm) {
    width: $card-wd-md;
    height: $card-hg-md;
    border-radius: 20px;
    grid-template-rows: 150px auto 80px;
    grid-template-areas:
      "input"
      "output"
      "button";
  }

  @media screen and (min-width: $breakpoint-md) {
    width: $card-wd-lg;
    border-radius: 20px;
    box-shadow: rgba(54, 175, 255, 0.116) 0px 50px 100px -20px,
      rgba(232, 53, 241, 0.356) 0px 30px 60px -30px;
    margin-left: 200px;
    padding: $card-pd-xl;
  }

  @media screen and (min-width: $breakpoint-lg) {
    width: $card-wd-lg;
  }

  @media screen and (min-width: $breakpoint-xl) {
    width: $card-wd-xl;
    height: $card-hg-lg;
    grid-template-rows: 150px 350px 80px;
    margin-left: 250px;
    row-gap: 20px;
  }
}
