.container {
  background: var(--purple-light);
  display: grid;
  grid-template-areas:
    "input"
    "output"
    "button";

  height: var(--container-hg-lg);
  width: var(--container-wd-lg);
  padding: var(--container-pd-md);
  border-radius: var(--border-radius-xl);
  margin-left: var(--container-mgleft-lg);
}
