@import url("../style.css");

.output-field {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: anywhere;
  padding: 10px;
  height: 200px;
  width: 100%;
  cursor: pointer;
}

.hover-text {
  color: var(--offwhite);
  position: absolute;
  z-index: 3;
  top: 570px;
  padding-left: 5px;
  font-size: 15px;
}

.hide-text {
  display: none;
}
