.nav-item-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 80%;
  height: 80px;
  background: var(--purple-light);
  color: var(--offwhite);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
}

.nav-item-container:hover,
.nav-item-container:active {
  background: var(--purple-dark);
  color: var(--offwhite);
}

.active-item {
  justify-content: center;
  align-items: center;
}

.active-title {
  display: flex;
}

/* Item Title */
.item-title,
.toggle-title {
  font-size: var(--font-sz-sm);
  padding: 2px;
  transition: all 0.2s ease-in-out;
}

/* Item Title Spans */
.long-name {
  font-size: var(--font-sz-sm);
  padding: 2px;
  width: 100%;
  text-align: center;
}
.short-name {
  font-size: var(--font-sz-sm);
  padding: 2px;
  width: 100%;
  text-align: center;
  display: none;
}

/* Nav Icons */

.bin2dec,
.bin2hex,
.dec2bin,
.dec2hex,
.hex2dec,
.hex2bin {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.bin2dec,
.bin2hex {
  background-image: url("../../../../assets/binary.png");
}
.dec2bin,
.dec2hex {
  background-image: url("../../../../assets/decimal.png");
}
.hex2dec,
.hex2bin {
  background-image: url("../../../../assets/hex.png");
}

@media screen and (max-width: 1500px) {
  .long-name {
    display: none;
  }

  .short-name {
    display: flex;
  }
}

/* Decrease button width for accessability
   The buttons are too wide for mobile devices */
@media screen and (max-height: 765px) {
  .nav-item-container {
    width: 50%;
  }
}
