.container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.textField {
  background: var(--purple-dark);
  border-style: none;
  border: var(--border-tf);
  text-align: center;
  font-size: var(--font-sz-md);
  color: var(--offwhite);
}
