* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Colors */
  --bluegreen: #003b49;
  --offwhite: #d6d2c4;
  --purple-dark: hsl(246, 22%, 9%);
  --purple-light: hsl(247, 16%, 32%);

  /* Font Sizes */
  --font-sz-lg: 25px;
  --font-sz-md: 20px;
  --font-sz-sm: 18px;

  /* Border Radius */
  --border-radius-xxl: 30px;
  --border-radius-xl: 20px;
  --border-radius-lg: 10px;
  --border-radius-md: 5px;
  --border-radius-sm: 2px;

  /* Buttons */
  --btn-wd-lg: 200px;
  --btn-wd-md: 150px;
  --btn-wd-sm: 100px;
  --btn-hg-lg: 50px;
  --btn-hg-md: 40px;
  --btn-hg-sm: 30px;

  --border-tf: inset 3px rgb(94, 79, 107);

  /* Container Sizes */
  --container-wd-lg: 600px;
  --container-wd-md: 500px;
  --container-wd-sm: 400px;
  --container-hg-lg: 700px;
  --container-hg-md: 600px;
  --container-hg-sm: 500px;

  /* Container Padding */
  --container-pd-lg: 50px;
  --container-pd-md: 40px;
  --container-pd-sm: 30px;

  /* Container Margin */
  --container-mgleft-lg: 200px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--purple-dark);
}
